
.presentation{
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 45px 45px 45px;

    p {
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 1em;
    }

    @include breakpoints(tablet){

        font-size: 1.2em;
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 35px;
        }

    }
}