@keyframes slide{
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    25% {
        opacity: 0;
    }
    50%{
        opacity: .1;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}