footer {
    
    background-color: darken($dark-gray, 75%);
    color: darken($white, 5%);
    padding: 1em;

    h2 {
            font-family: 'Shrikhand', sans-serif; 
            font-weight: 500;
            font-size: 1.2em;
            padding-top: 1em;
            padding-left: 1em;
    }   

    ul {
        padding: 0;
        line-height: 1.5em;
        padding-left: 1em;
    }

    a {
        color: $white;

         i{
             color: darken($white, 5%);
             font-size: 0.8em;
             padding-right: 0.5em;
         }
    }
}