.logo-head{

    height: 4em;
    display: flex;
   img{
        margin: auto;
        width: 11em;
    }
}

.logo-page-head {

    height: 4em;
    display: flex;
    padding-left: 2em;
    align-items: center;
   img{
        margin: auto;
        margin-left: 4.5em;
        width: 11em;
    }

}